### Heroes Of Pymoli Data Analysis
* Of the 1163 active players, the vast majority are male (84%). There also exists, a smaller, but notable proportion of female players (14%).

* Our peak age demographic falls between 20-24 (44.8%) with secondary groups falling between 15-19 (18.60%) and 25-29 (13.4%).  
-----

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np
import os

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.json"

# Read Purchasing File and store into Pandas data frame
purchase_data_df = pd.read_json(file_to_load)
purchase_data_df.head()

,Age,Gender,Item ID,Item Name,Price,SN
0,38,Male,165,Bone Crushing Silver Skewer,3.37,Aelalis34
1,21,Male,119,"Stormbringer, Dark Blade of Ending Misery",2.32,Eolo46
2,34,Male,174,Primitive Blade,2.46,Assastnya25
3,21,Male,92,Final Critic,1.36,Pheusrical25
4,23,Male,63,Stormfury Mace,1.27,Aela59

## Player Count

* Display the total number of players

In [2]:
# Total Number of Players Displayed inside DataFrame
Tot_Num_Players = pd.DataFrame({"Total Players":[len(purchase_data_df['SN'].unique())]})
Tot_Num_Players

   Total Players
0            573

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [3]:
# Unique items is the total distinct Item IDs, captured by value_counts
unique_items = len(purchase_data_df["Item ID"].value_counts())
# Use mean on the price column to get average purchase amount
avg_purchase_total = purchase_data_df["Price"].mean()
# Check the length of the Price series to get the total number of purchases
total_purchases = len(purchase_data_df["Price"])
# Sum the Price series to get the total revenue
total_revenue = purchase_data_df["Price"].sum()

purchasing_analysis_df = pd.DataFrame({"Number of unique items": unique_items,
                                       "Average price": avg_purchase_total,
                                       "Number of purchases": total_purchases,
                                       "Total revenue": total_revenue}, index = [0])

purchasing_analysis_df["Average price"] = purchasing_analysis_df["Average price"].map("${:.2f}".format)
purchasing_analysis_df["Total revenue"] = purchasing_analysis_df["Total revenue"].map("${:.2f}".format)

purchasing_analysis_df

   Number of unique items Average price  Number of purchases Total revenue
0                     183         $2.93                  780      $2286.33

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [4]:
# Total Number of Players
Tot_Num_Players=len(purchase_data_df['SN'].value_counts())

# Filter purchase data by Male and Create Male Players table
Male_Players_df=purchase_data_df.loc[purchase_data_df["Gender"] == "Male", :]

# Filter purchase data by Female and Create Female Players table
Female_Players_df=purchase_data_df.loc[purchase_data_df["Gender"] == "Female", :]
#count_of_females=len(Female_Players_df['SN'].value_counts())

# Filter purchase data by Other / Non-Disclosed and Create Other / Non-Disclosed Players table
Other_Players_df=purchase_data_df.loc[purchase_data_df["Gender"] == "Other / Non-Disclosed", :]
#count_of_others=len(Other_Players_df['SN'].value_counts())

# Count of Male Players
count_of_males=len(Male_Players_df['SN'].value_counts())

# Percentage of Males
Perc_of_Males=count_of_males/Tot_Num_Players*100

# Count of Female Players
count_of_females=len(Female_Players_df['SN'].value_counts())

# Percentage of Females
Perc_of_Females=count_of_females/Tot_Num_Players*100

# Count of Other / Non-Disclosed
count_of_others=len(Other_Players_df['SN'].value_counts())

# Percentage of Other / Non-Disclosed
Perc_of_Others=count_of_others/Tot_Num_Players*100

# Create DataFrame Summary for Total Number of Players and Percentages by Gender
Total_Num_Players_by_Gender=pd.DataFrame({"Total Count":[count_of_males,count_of_females,count_of_others],
                             "Percentage of Players":[Perc_of_Males,Perc_of_Females,Perc_of_Others]},
                            index=["Male","Female","Other / Non-Disclosed"])
# Use Map to format all the columns
Total_Num_Players_by_Gender["Percentage of Players"] = Total_Num_Players_by_Gender["Percentage of Players"].map("{:.2f}".format)
Total_Num_Players_by_Gender

                       Total Count Percentage of Players
Male                           465                 81.15
Female                         100                 17.45
Other / Non-Disclosed            8                  1.40


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [5]:
#Purchasing Analysis (Gender)

#The below each broken by gender

#Purchase Count
gender_groups = purchase_data_df.groupby(['Gender'])
purchase_count = gender_groups.count()["Price"]

#Average Purchase Count
avg_pur_count = gender_groups.mean()["Price"]

#Total Purchase Value
total_pur_value = gender_groups.sum()["Price"]

#Normalized Totals
norm_total = total_pur_value/purchase_count

pur_analysis = pd.DataFrame({
    
    "Purchase Count": purchase_count,
    'Average Purchase Price': avg_pur_count,
    'Total Purchase value': total_pur_value,
    'Normalised totals': norm_total
})

#printing data
#printing data
pur_analysis.style.format({"Purchase Count": "{:.2f}", "Average Purchase Price": "${:.2f}", "Total Purchase Value":"${:.2f}", "Normalised Totals":"${:.2f}"})

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [6]:
print(purchase_data_df['Age'].max())
print(purchase_data_df['Age'].min())
AgeBins=[0,9,14,19,24,29,34,39,100]
AgeLabels=['<10','10-14','15-19','20-24','25-29','30-34','35-39','40+']

45
7

In [7]:
# Create new table for Players by Age Group
players_by_age = purchase_data_df[["Age","SN"]]

# Acquire players and their age without duplicates
unique_players=players_by_age.groupby(["SN"]).max()
# Another method to remove duplicates from DataFrame:
# unique_players=players_by_age.drop_duplicates(subset=None, keep='first', inplace=False)

unique_players["Age Group"] = pd.cut(unique_players["Age"], AgeBins, labels=AgeLabels)

# Create group object by Age Group
age_group=unique_players.groupby("Age Group")

# Total number of players by Age Group
total_count_by_age_group=age_group["Age"].count()

# Percentage of players by Age Group
perc_by_age_group=total_count_by_age_group/len(unique_players)*100

'''
print(type(total_count_by_age_group))
print(total_count_by_age_group)
print(perc_by_age_group)
'''

# Create DataFrame summary for Players in Age Group
players_by_age_group_df=pd.DataFrame({"Total Count":total_count_by_age_group,
                                    "Percentage of Players":perc_by_age_group
                                    },
                                  index=AgeLabels)
# Use Map to format all the columns
players_by_age_group_df["Percentage of Players"] = players_by_age_group_df["Percentage of Players"].map("{:.2f}".format)

players_by_age_group_df

       Total Count Percentage of Players
<10             19                  3.32
10-14           23                  4.01
15-19          100                 17.45
20-24          259                 45.20
25-29           87                 15.18
30-34           47                  8.20
35-39           27                  4.71
40+             11                  1.92

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [8]:
# 6.Purchasing Analysis by Age
Age_Total_Purchase=purchase_data_df.groupby(["Age Range"]).sum()["Price"].rename("Total Purchase Value")
Age_ave=HOP_purchase_data_df.groupby(["Age Range"]).mean()["Price"].rename("Average Purchase Price")
Age_purchase_count=purchase_data_df.groupby(["Age Range"]).count()["Price"].rename("Purchase Count")
#Normalized 
Age_Normalized_total=Age_Total_Purchase/age_summary_df["Total Count"]
#Data Frame for Purchasing Analysis by Age
Age_table=pd.DataFrame({"Purchase Count":Age_purchase_count,"Average Purchase Price":Age_ave,"Total Purchase Value":Age_Total_Purchase,"Normalized Total":Age_Normalized_total})
df=pd.DataFrame({"Purchase Count":Age_purchase_count,"Average Purchase Price":Age_ave,"Total Purchase Value":Age_Total_Purchase,"Normalized Total":Age_Normalized_total})
Age_table_df=df.loc[:,["Purchase Count","Average Purchase Price","Total Purchase Value","Normalized Total"]]
Age_table_df.round(2)
Age_table_df["Average Purchase Price"]=Age_table_df["Average Purchase Price"].map("${:,.2f}".format)
Age_table_df["Total Purchase Value"]=Age_table_df["Total Purchase Value"].map("${:,.2f}".format)
Age_table_df["Normalized Total"]=Age_table_df["Normalized Total"].map("${:,.2f}".format)
Age_table_df

KeyError: 'Age Range'

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [9]:
# In order to find top spenders, group by screen name
spending_grouped = purchase_data_df.groupby("SN")

purchase_count = spending_grouped["Age"].count()
avg_purchase = spending_grouped["Price"].mean()
total_purchase_value = spending_grouped["Price"].sum()

top_purchasers_df = pd.DataFrame({"Purchase count": purchase_count,
                                       "Average purchase price": avg_purchase,
                                       "Total purchase value": total_purchase_value})

# Sort the data frame by "Total Purchase Value" descending
top_purchasers_df = top_purchasers_df.sort_values("Total purchase value", ascending = False)

# Format the money columns to appear as money
# Note: we must do this AFTER sorting because special characters mess with the sorting
top_purchasers_df["Average purchase price"] = top_purchasers_df["Average purchase price"].map("${:.2f}".format)
top_purchasers_df["Total purchase value"] = top_purchasers_df["Total purchase value"].map("${:.2f}".format)

# Select the top 5 rows of the sorted data frame
top_purchasers_df.iloc[0:5,:]

             Purchase count Average purchase price Total purchase value
SN
Undirrala66               5                  $3.41               $17.06
Saedue76                  4                  $3.39               $13.56
Mindimnya67               4                  $3.18               $12.74
Haellysu29                3                  $4.24               $12.73
Eoda93                    3                  $3.86               $11.58

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [10]:
# Group by Item ID and Item Name
items_grouped = purchase_data_df.groupby(["Item ID", "Item Name"])

purchase_count = items_grouped["Age"].count()
total_purchase_value = items_grouped["Price"].sum()
item_price = items_grouped["Price"].max() # this returns the item price because the max per each item = the min

top_items_df = pd.DataFrame({"Purchase count": purchase_count,
                                       "Item price": item_price,
                                       "Total purchase value": total_purchase_value})

# Sort the data frame by "Purchase count" descending
top_items_df = top_items_df.sort_values("Purchase count", ascending = False)

# Format the money columns to appear as money
top_items_df["Total purchase value"] = top_items_df["Total purchase value"].map("${:.2f}".format)
top_items_df["Item price"] = top_items_df["Item price"].map("${:.2f}".format)

# Select the top 5 rows of the sorted data frame
top_items_df.iloc[0:5,:]

,,Purchase count,Item price,Total purchase value
Item ID,Item Name,,,
39,"Betrayal, Whisper of Grieving Widows",11,$2.35,$25.85
84,Arcane Gem,11,$2.23,$24.53
31,Trickster,9,$2.07,$18.63
175,Woeful Adamantite Claymore,9,$1.24,$11.16
13,Serenity,9,$1.49,$13.41

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [11]:
# We can use the same data structures from the most popular items, we just order differently
# We want to re-initialize the data frame in order to undo the formatting
top_items_df = pd.DataFrame({"Purchase count": purchase_count,
                                       "Item price": item_price,
                                       "Total purchase value": total_purchase_value})

# Sort the data frame by "Total Purchase Value" descending
top_items_df = top_items_df.sort_values("Total purchase value", ascending = False)

# Format the money columns to appear as money
# Note: we must do this AFTER sorting because special characters mess with the sorting
top_items_df["Total purchase value"] = top_items_df["Total purchase value"].map("${:.2f}".format)
top_items_df["Item price"] = top_items_df["Item price"].map("${:.2f}".format)

# Select the top 5 rows of the sorted data frame
top_items_df.iloc[0:5,:]

,,Purchase count,Item price,Total purchase value
Item ID,Item Name,,,
34,Retribution Axe,9,$4.14,$37.26
115,Spectral Diamond Doomblade,7,$4.25,$29.75
32,Orenmir,6,$4.95,$29.70
103,Singed Scalpel,6,$4.87,$29.22
107,"Splitter, Foe Of Subtlety",8,$3.61,$28.88